body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #88abfe;
    font-family: 'Times New Roman', Times, serif;
}

.scena {
    perspective: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pozdrav {
    display: flex;
    gap: 5px;
}

.pozdrav span {
    display: inline-block;
    font-size: 64px;
    font-weight: bold;
    color: #00293b;

    transform-style: preserve-3d;
    backface-visibility: visible;

    animation-name: rotiranje;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.pozdrav span:nth-child(1)  { animation-delay: 0s; }
.pozdrav span:nth-child(2)  { animation-delay: 0.1s; }
.pozdrav span:nth-child(3)  { animation-delay: 0.2s; }
.pozdrav span:nth-child(4)  { animation-delay: 0.3s; }
.pozdrav span:nth-child(5)  { animation-delay: 0.4s; }
.pozdrav span:nth-child(6)  { animation-delay: 0.5s; }
.pozdrav span:nth-child(7)  { animation-delay: 0.6s; }
.pozdrav span:nth-child(8)  { animation-delay: 0.7s; }
.pozdrav span:nth-child(9)  { animation-delay: 0.8s; }
.pozdrav span:nth-child(10) { animation-delay: 0.9s; }

@keyframes rotiranje {
    0% {
        transform: rotateY(0deg) translateZ(0) scale(1);
        opacity: 1;
    }
    50% {
        transform: rotateY(180deg) translateZ(40px) scale(1.3);
        opacity: 0;
    }
    100% {
        transform: rotateY(360deg) translateZ(0) scale(1);
        opacity: 1;
    }
}
.gumb {
    margin-top: 40px;
    padding: 12px 28px;
    background: #b7e9ff;
    color: #a1bbf8;
    font-weight: bold;
    border-radius: 8px;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.gumb:hover {
    background: #7cd4fc;
}


